 <h1> My Form </h1>
 
 {{myForm.value | json}}

<form [formGroup] ="myForm">
    

     <hr>
<mat-form-field appearance="fill">
    <input matInput placeholder = "email" formControlName = "email">
</mat-form-field>



   <mat-label></mat-label>
    <mat-form-field appearance="fill">
    
    <textarea matInput  placeholder = "message" formControlName = "message"></textarea>
  </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="option" placeholder = "career" formControlName = "career">Option</mat-option>
    </mat-select>
  </mat-form-field>

  </form>