 <h1> My Form </h1>

{{myForm.value | json}}

<form [formGroup] ="myForm">

    
    
<hr>
<mat-form-field appearance="fill">
    <input matInput placeholder = "email" formControlName = "email">
</mat-form-field>


<h1> Phone </h1>



<div formArrayName = "phones">
  <div *ngFor = "let phone of PhoneForms.controls; let i = index" [formGroupName] = "i">
       <h1> {{"Phone" + (i+1) }}</h1>
          <mat-form-field appearance="fill">
            <input matInput placeholder = "area" formControlName = "area">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <input matInput placeholder = "prefix" formControlName = "prefix">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <input matInput placeholder = "line" formControlName = "line">
          </mat-form-field>

          <button mat-raised-button  (click) = "deletePhone(i)" style= "margin-bottom : 20px"> Delete </button>
    </div>
  </div>

  <button mat-raised-button color= "primary" (click) = "addNewPhone()" style= "margin-bottom : 20px"> Add new Phone </button>

  </form>